@{
  Layout = "_Layout";
}

<div class="jumbotron text-center">
  <h1 class="display-2">Registrars Office</h1>
  <p class="lead">Please Click below to explore the options</p>
  <hr class="my-4">
</div>

<p>@Html.ActionLink("See all Student", "Index", "Students")</p> 
<p>@Html.ActionLink("See all Courses", "Index", "Courses")</p>
<p>@Html.ActionLink("See all Enrollments", "Index", "Enrollments")</p>
